<div class="zp_list clearfix"
     style="width: {{containerWidth}}px;height: {{containerHeight}}px;margin-right: -{{marginHorizontal}}px;margin-bottom: -{{marginVertical}}px;">
    {{#each res}}
        <div class="zp_item"
             style="width: {{width}}px;height: {{height}}px;float: left;margin-right: {{marginHorizontal}}px;margin-bottom: {{marginVertical}}px">
            {{{content}}}
        </div>
    {{/each}}
</div>
