<div class="zp_c_focus zp_c{{flag}}" style="position: relative;overflow: hidden;width: {{width}}px;height: {{height}}px;">
    <div class="zp_carousel" style="position: absolute;width: {{listW}}px;">
        {{#each list}}
            <div class="zp_c_item" style="float: left;width: {{width}}px;height: {{height}}px;">
                {{{content}}}
            </div>
        {{/each}}
    </div>
</div>
